.sorting,
.sorting_asc,
.sorting_desc,
.sorting_asc_disabled,
.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
.sorting:after,
.sorting_asc:after,
.sorting_desc:after,
.sorting_asc_disabled:after,
.sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}
.sorting:after {
    opacity: 0.2;
    content: "\e150";
    /* sort */
}
.sorting_asc:after {
    content: "\e155";
    /* sort-by-attributes */
}
.sorting_desc:after {
    content: "\e156";
    /* sort-by-attributes-alt */
}
.btn-group form{
    float: left;
}